body{
    cursor: pointer;
}
.header-page{
    background-color: orangered;
}
.title{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}
img{
    height: 25px;
    width: 110px;
    padding-right: 30px;
}
.title .charset {
    color: white;
}
.icon{
    color: white;
}
.conteiner{
    display: flex;
    justify-content: center;
    padding: 50px;

}
.card-1 {
    position: relative;
}

.card-1 .card-discount-badge{
    position: absolute;
    bottom: 150px;
    left: 0;
    background-color:red;
    padding: 3px;
    color: white;
}

.card-1 .card-discount-1{
    position: absolute;
    bottom: 150px;
    left: 40px;
    background-color:hsl(135, 93%, 35%);
    padding: 3px;
    color: white;
}
.card-1 .card-heart-1{
    position: absolute;
    top: 30px;
    right: 30px;
    background-color:white;
    padding: 10px;
    color:black;
}

.card-1 .card-hover{
    padding: 0;
 }
.card-img-1 img{
    width: 300px;
    height: 450px;
}
.card-2{
    position: relative;
}
.card-2 .card-discount-badge-2{
    position: absolute;
    bottom: 150px;
    left: 0;
    background-color:red;
    padding: 3px;
    color: white;
}
.card-img-2 img{
    width: 300px;
    height: 450px;
    justify-content: center;
}
.card-2 .card-heart-2{
    position: absolute;
    top: 30px;
    right: 30px;
    background-color:white;
    padding: 10px;
    color:black;

}

.card-img-3 img{
    width: 300px;
    height: 450px;
    justify-content: center;
}
.card-3{
    position: relative;
}
.card-3 .card-discount-badge-3{
    position: absolute;
    bottom: 150px;
    left: 0;
    background-color:red;
    padding: 3px;
    color: white;
}

.card-3 .card-heart-3{
    position: absolute;
    top: 30px;
    right: 30px;
    background-color:white;
    padding: 10px;
    color:black;

}

.card-title h3 {
    margin: 0;
}
.card-title p{
    margin: 0;
}

.card-title-2 h3 {
    margin: 0;
}
.card-title-2 p{
    margin: 0;
}
.card-title-3 h3 {
    margin: 0;
}
.card-title-3 p{
    margin: 0;
}
.card-img-4 img{
    width: 300px;
    height: 450px; 
}

.conteiner-bottom{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.card-img-5 img{
    width: 300px;
    height: 450px; 
}
.card-img-6 img{
    width: 300px;
    height: 450px; 
}
.card-title-4 h3 {
    margin: 0;
}
.card-title-4 p{
    margin: 0;
}

.card-title-5 h3 {
    margin: 0;
}
.card-title-5 p{
    margin: 0;
}
.card-title-6 h3 {
    margin: 0;
}
.card-title-6 p{
    margin: 0;
}
.card-4{
    position: relative;
}
.card-4 .card-discount-badge-4{
    position: absolute;
    bottom: 150px;
    left: 0;
    background-color:red;
    padding: 3px;
    color: white;
}
.card-4 .card-discount-4{
    position: absolute;
    bottom: 150px;
    left: 40px;
    background-color:hsl(135, 93%, 35%);
    padding: 3px;
    color: white;
}
.card-4 .card-heart-4{
    position: absolute;
    top: 30px;
    right: 30px;
    background-color:white;
    padding: 10px;
    color:black;

}

.card-5{
    position: relative;
}
.card-5 .card-heart-5{
    position: absolute;
    top: 30px;
    right: 30px;
    background-color:white;
    padding: 10px;
    color:black;

}
.card-6{
    position: relative;
}
.card-6 .card-discount-6{
    position: absolute;
    bottom: 150px;
    left: 0px;
    background-color:hsl(135, 93%, 35%);
    padding: 3px;
    color: white;
}
.card-6 .card-heart-6{
    position: absolute;
    top: 30px;
    right: 30px;
    background-color:white;
    padding: 10px;
    color:black;
}






.conteiner-footer{
    display: flex;
    background-color: #222222;
    justify-content: space-around;
    padding: 0;
    color: white;
}